logs
__pycache__
.DS_Store
*.pyc
parser/__pycache__
parser/.DS_Store
utils/__pycache__
utils/.DS_Store
# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# state files
scraper_state.txt

# duplicate files
relations.csv
